<template>
  <ul>
    <li v-for="(item, i) in getList" :key="i">
      <Item :item="item" :changeValue="value => setValue({value, i})" />
    </li>
  </ul>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Item from './Item.vue'
export default {
  computed: {
    ...mapGetters({
      getList: 'getList'
    })
  },
  methods: {
    ...mapActions({
      'setValue': 'setValue'
    })
  },
  components: {
    Item
  }
}
</script>

<style scoped>
  ul{
    text-align: left;
  }
</style>
