<template>
  <div>
    <input type="text" @input="e => changeValue(e.target.value)" :value="item.value" />
    <span>{{ item.value }}</span>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      require: true
    },
    changeValue: {
      type: Function,
      require: true
    }
  }
}
</script>
