<template>
  <div class="hello">
    <List />
  </div>
</template>

<script>
import List from '../List/Index.vue'
export default {
  name: 'HelloWorld',
  components: {
    List
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
